build --bes_backend=grpcs://remote.buildbuddy.io
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --color=yes
build --incompatible_strict_action_env
build --keep_going
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_header=x-buildbuddy-api-key=0LJeHmVUer32UyTzco3I # Public readonly key # pragma: allowlist secret
build --remote_timeout=3600
build --strategy CopyToDirectory=standalone  # Work around "Copying files to directory rules_oci~~oci~python3-slim_linux_amd64/layout failed"
build --strategy CopyFile=standalone  # Work around "Copying file tests/rules_pycross/container_structure_test_image failed"
common --lockfile_mode=off
test --announce_rc
test --keep_going
test --spawn_strategy=sandboxed
test --test_env=NO_CLEANUP=1
test --test_env="PYTEST_ADDOPTS=--color=yes --capture=tee-sys --tb=short --showlocals -ra --verbose --verbose"
test --test_output=errors
test --test_verbose_timeout_warnings

# Use GitHub http registry instead of BCR mirror
# TODO: remove this once 4.6.1 is available via the default mirror...
common --registry https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/refs/heads/main