build --color=yes
build --incompatible_strict_action_env
build --keep_going
test --announce_rc
test --keep_going
test --spawn_strategy=sandboxed
test --test_env=NO_CLEANUP=1
test --test_env=PYTEST_ADDOPTS="--color=yes --capture=tee-sys --tb=short --showlocals -ra --verbose --verbose"
test --test_output=errors
test --test_verbose_timeout_warnings
