name: CI

"on":
  push:
    branches: [main]
  pull_request:

permissions: read-all

jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
    strategy:
      fail-fast: false
      matrix:
        bazel-version: ["5.x", "6.x", "7.x"]
        os:
          # - ubuntu-latest
          # - macos-latest
          - macos-latest-xlarge # M1 silicon

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: "~/.cache/bazelisk\n~/.cache/bazel\n"
          key: bazel-${{ matrix.bazel-version }}-cache-${{ github.run_id }}
          restore-keys: bazel-${{ matrix.bazel-version }}-cache-

      - run: sed -i.bak '/enable_bzlmod/d' .bazelrc && rm .bazelrc.bak
        if: ${{ matrix.bazel-version == '5.x' }}

      - run: bazel test //...

      - run: bazel test --enable_bzlmod //...
        if: ${{ matrix.bazel-version != '5.x' }}

  lint:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: trunk-io/trunk-action@v1
